@import "tailwindcss";

:root {
    --text: #150f0f;
    --background: #f9f6f6;
    --primary: #fb1827;
    --secondary: #ffc524;
    --accent: #4bb456;
    --gray: #EAE1E1;

    --corner-radius: 30px;
    --border-width: 3.5px;

    --app-size: 5em;
}

body {
    font-family: 'Plus Jakarta Sans';
    font-style: semi-bold;
    font-weight: 800;
    color: var(--text);
    background-color: var(--background);

    text-decoration-color: var(--primary);
}

body::selection {
    background-color: var(--secondary);
    color: var(--background);
}

html,
body {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Space Mono';
    font-style: bold;
    font-weight: 700;
    color: var(--text);
}

h1 {
    font-size: 2.5em;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

a {
    color: var(--primary);
    
}

a:hover {
    text-decoration: underline;
}

.content {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 0.5em;
}

#aboutMeContent {
    display: flex;
    flex-direction: row-reverse;

    text-wrap: balance;
    gap: 2rem;

    width: 45em;

    margin-bottom: 1rem;
}

.handle {
    background-color: var(--accent);
    box-shadow: inset 0px 0px 0px var(--border-width) var(--text);
    background-color: var(--accent);
    border-top-left-radius: var(--corner-radius);
    border-top-right-radius: var(--corner-radius);

    padding: 0.75em 2rem;

    cursor: grab;
    touch-action: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: larger;
}

.icon {
    background: rgba(0, 0, 0, 0);
    border: 0;

    display: flex;
    align-items: center;
}

button {
    cursor: pointer;
}

.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 20em;
    min-height: 10em;
    max-width: 90wv;

    justify-content: center;

    width: max-content;
    z-index: 1;
    padding-bottom: 1em;

    display: none;
}

.window,
.task-bar {
    box-shadow: inset 0px 0px 0px var(--border-width) var(--text);
    background-color: var(--gray);
    border-radius: var(--corner-radius);
}

.task-bar {
    position: fixed;
    bottom: 1em;
    left: 1em;
    right: 1em;

    display: flex;
    align-items: center;

    padding: 0 2em;
    z-index: -1;

    background-color: var(--secondary);
}

.task-bar .spacer {
    flex: 1 1 auto;
}

.time {
    width: 5rem;
    line-height: 25px;
    text-align: right;
}

.pizza {
    -webkit-filter: drop-shadow(5px 5px 2px #00000040);
    filter: drop-shadow(5px 5px 2px #00000040);
}

.button {
    width: 7.5em;

    padding: 0.5em 0;

    font-family: 'Plus Jakarta Sans';
    font-style: semi-bold;
    font-weight: 800;
    font-size: 1.2em;
    color: var(--text);

    background-color: var(--primary);
    border: solid var(--border-width) var(--text);
    border-radius: var(--corner-radius);

    transition-duration: 0.4s;
}

.button:hover {
    background-color: var(--secondary);
}

#desktopApps {
    padding-top: 2em;
    padding-left: 3em;
}

.app {
    height: calc(var(--app-size) + 2.75em);
    width: var(--app-size);
    text-align: center;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    justify-content: center;

    padding: 1.25em;

    cursor: pointer;
}

.appImage {
    height: calc(var(--app-size) - 1.25em);
    width: calc(var(--app-size) - 1.25em);
}

.bg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}